@page "/login"
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        <label>Username:</label>
        <input type="text" @bind="username" />
        <label>Password:</label>
        <input type="password" @bind="password" />
        @if (!string.IsNullOrEmpty(errorLabel)) {
        <label style="color: red">
            @errorLabel
        </label>
        }
        <button @onclick="LoginAsync">Log in</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
private string username;
private string password;
private string errorLabel;

private async Task LoginAsync(){
errorLabel = "";
try
{
await ((SimpleAuthProvider)AuthProvider).Login(username, password);
navMgr.NavigateTo("/");
}
catch (Exception ex)
{
Console.WriteLine(ex.Message);
errorLabel = ex.Message;
}
}
}