@page "/login"
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr
<link rel="stylesheet" href="css/auth.css" />

<div class="login-container">
    <div class="login-box">
        <h3>Please login</h3>
        <label>Username:</label>
        <input type="text" @bind="username" />
        <label>Password:</label>
        <input type="password" @bind="password" />
        @if (!string.IsNullOrEmpty(errorLabel)) {
            <label class="error-label">
                @errorLabel
            </label>
        }
        <div class="button-container">
            <button @onclick="Register">Register</button>
            <button @onclick="LoginAsync">Log in</button>
        </div>
    </div>
</div>

@code {
    private string username;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Login(username, password);
            navMgr.NavigateTo("/home");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorLabel = ex.Message;
        }
    }

    private void Register()
    {
        navMgr.NavigateTo("/register");
    }
}