@page "/ViewPosts"
@using BlazorApp1.Components.Services.ClientInterfaces
@using DTOs.Post
@inject IPostService postService
@inject IUserService userService

@attribute [Authorize]

<link rel="stylesheet" href="css/viewPosts.css" />

<h3>View Posts</h3>

@if (posts == null)
{
<p>Loading...</p>
}
else if (!posts.Any())
{
<p>No posts available.</p>
}
else
{
<ul class="post-list">
    @foreach (var post in posts)
    {
    <li class="post-item">
        <h4>@post.Title</h4>
        <p>@post.Body</p>
        <p><em>By @($"@{usernames[post.UserId]}")</em></p>
    </li>
    }
</ul>
}

@code {
private ICollection<PostDTO> posts;
private Dictionary<int, string> usernames = new Dictionary<int, string>();

    protected override async Task OnInitializedAsync()
    {
    posts = await postService.GetPostsAsync();
    foreach (var post in posts)
    {
        if (!usernames.ContainsKey(post.UserId))
        {
            var user = await userService.GetUserNameAsync(post.UserId);
            usernames[post.UserId] = user.Username;
        }
    }
    }
}